.full-heigth {
    height: 100%;
}

.sidebar {
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto;
    border-right: 1px solid #eee;
    z-index: 1;
}

.bg-faded {
    background-color: #f7f7f7;
}

.no-border {
    border: none;
}

a.no-underline {
    text-decoration: none;
}

.bot-link {
    background: none;
    border: none;
    text-decoration: none;
    color: black;
}

    .bot-link:hover, .active > .bot-link {
        background: #f0f0f0;
        text-decoration: none;
    }

.avatar-sm {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.chat-container {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.chat-content {
    flex: 1;
    overflow: auto;
    margin: 20px 0;
}

.exchange {
    display: flex;
    flex-direction: column;
}

    .exchange .from {
        align-self: flex-start;
        margin-right: 30px;
    }

    .exchange .to {
        align-self: flex-end;
        margin-left: 30px;
    }

    .exchange .message {
        border-radius: 4px;
        padding: 5px 10px;
    }

    .exchange .from .message {
        background-color: #f7f7f7;
    }

    .exchange .to .message {
        background-color: #d9effc;
    }

    .exchange .message-metadata {
        display: block;
        font-size: 80%;
        color: darkgrey;
    }

    .exchange .to .message-metadata {
        text-align: right;
    }


.move-enter {
    transform: translateX(-110%);
    position: absolute;
    opacity: 0;
}

.move-enter-done {
    transform: translateX(0);
    transition: all 250ms ease-in;
}

.move-exit {
    transform: translateX(0);
}

.move-exit-active {
    transform: translateX(-110%);
    transition: all 250ms ease-out;
}

.message-editor {
    position: relative;
}

    .message-editor .emote-picker {
        position: absolute;
        z-index: 1;
        top: 5px;
        right: 5px;
        width: 30px;
        height: 30px;
        color: dimgray;
    }

.emote-picker .current-emote {
    position: absolute;
    bottom: 0;
    left: 0;
    cursor: pointer;
}

.emote-picker .remove-emote-btn {
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
}

.emote-picker .current-emote:hover,
.emote-picker .remove-emote-btn:hover {
    color: black;
}

.message-editor .emote-picker .active {
    color: darkorange;
}

.emote-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 140px;
}

    .emote-container .emote-item {
        flex-grow: 1;
        flex-shrink: 0;
        flex-basis: 20%;
    }

        .emote-container .emote-item:hover {
            color: darkorange;
        }

.darkorange {
    color: darkorange;
}
