.full-heigth {
    height: 100%;
}

.sidebar {
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto;
    border-right: 1px solid #eee;
}

.bg-faded {
    background-color: #f7f7f7;
}

a.no-underline {
    text-decoration: none;
}

.bot-link {
    background: none;
    border: none;
    text-decoration: none;
    color: black;
}

    .bot-link:hover, .active > .bot-link {
        background: #f0f0f0;
        text-decoration: none;
    }

.avatar-sm {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.chat-container {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.chat-content {
    flex: 1;
    overflow: auto;
    margin: 20px 0;
}

.exchange {
    display: flex;
    flex-direction: column;
}

    .exchange .from {
        align-self: flex-start;
        margin-right: 30px;
    }

    .exchange .to {
        align-self: flex-end;
        margin-left: 30px;
    }

    .exchange .message {
        border-radius: 4px;
        padding: 5px 10px;
    }

    .exchange .from .message {
        background-color: #f7f7f7;
    }

    .exchange .to .message {
        background-color: #d9effc;
    }

    .exchange .message-metadata {
        display: block;
        font-size: 80%;
        color: darkgrey;
    }

    .exchange .to .message-metadata {
        text-align: right;
    }


.move-enter {
  transform: translateX(-100%);
  z-index: -1;
}
    .move-enter.move-enter-active {
        transform: translateX(0);
        transition: all 250ms ease-in;
    }

.move-exit {
    transform: translateX(0);
    z-index: -1;
}

.move-exit.move-exit-active {
    transform: translateX(-100%);
    transition: all 250ms ease-in;
}